body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #858585;
    text-align: center; 
}

.cabecalho, footer {
    background-color: #4f8000;
    color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    border-radius: 10px;
}

.cabecalho .logo-patrimonio {
    width: 15%;  
    height: auto; 
    float: left;
}

.cabecalho .logo-ufmg {
    width: 35%;  
    height: auto; 
    float: right;
}

.cabecalho .titulo, footer .texto {
    flex-grow: 1;
    text-align: center;
}

footer {
    position: sticky;
    bottom: 0;
}

.conteudo {
    flex-grow: 1;
    padding: 20px;
}

.Busca {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Busca input {
    padding: 10px;
    font-size: 16px;
}

.Busca .botao {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #498000;
    color: white; 
    border-radius: 10px; 
}

.resultado {
    margin-top: 20px;
}

.conteudo .botao {
    padding: 10px 10px;
    font-size: 12px;
    background-color: #5e8000;
    color: white; 
    border-radius: 10px; 
}
